.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  